@model PruebaTec02KDSB.Models.Medida

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de eliminar la medida</h3>
<div>
    <h4>Medida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medida1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medida1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-warning" /> |
        <a class="btn btn-danger btn-ls" asp-action="Index">Cancelar</a>
    </form>
</div>
